.App {
  text-align: center;
}

.form{
  width: 900px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.form-group {
  text-align: left;
  font-weight: bold;
}

